<template>
  <div>
    <List :list="list"></List>
    <Lodding v-if="isLodding" />
  </div>
</template>

<script>
import List from "@/components/List.vue";
import axios from "axios";
export default {
  name: "All",
  data() {
    return {
      list: [],
      isLodding: false,
    };
  },
  components: {
    List,
  },
  created() {
    this.isLodding = true;
    axios.get("https://dahua0822-api.herokuapp.com/goods").then((res) => {
      console.log(res.data.data);
      this.list = res.data.data.data;
      this.isLodding = false;
    });
  },
};
</script>

<style lang="scss" scoped></style>
