<template>
  <div>
    <div class="host">
      <h1>火爆商品</h1>
      <div class="host-ban">
        <ul>
          <li v-for="item in tops" :key="item._id">
            <div class="host-ban-top">
              <img :src="item.image" alt="" />
            </div>
            <div class="host-ban-bottom">
              <p>{{ item.name }}</p>
              <span>¥{{ item.price }}</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="host-list">
        <div class="host-list-top">
          <ul>
            <li
              v-for="item in title"
              :key="item.id"
              @click="dian(item.id)"
              :class="index === item.id ? 'list' : ''"
            >
              {{ item.tit }}
            </li>
          </ul>
        </div>
        <div class="host-list-bottom">
          <ul>
            <component :is="Views"></component>
          </ul>
        </div>
      </div>
    </div>
    <Lodding v-if="isLodding" />
  </div>
</template>

<script>
import All from "@/views/All.vue";
import Hao from "@/views/Hao.vue";
import Xiao from "@/views/Xiao.vue";
import Xin from "@/views/Xin.vue";
import axios from "axios";
export default {
  name: "Main",
  data() {
    return {
      tops: [],
      title: [
        {
          id: 0,
          tit: "全部",
        },
        {
          id: 1,
          tit: "款式新",
        },
        {
          id: 2,
          tit: "销量高",
        },
        {
          id: 3,
          tit: "好评",
        },
      ],
      Arr: [All, Hao, Xiao, Xin],
      index: 0,
      isLodding: false,
    };
  },
  components: {
    All,
    Hao,
    Xiao,
    Xin,
  },
  created() {
    this.isLodding = true;
    axios.get("https://dahua0822-api.herokuapp.com/goods").then((res) => {
      console.log(res.data.data);
      this.tops = res.data.data.top;
      this.isLodding = false;
    });
  },
  methods: {
    dian(id) {
      this.index = id;
    },
  },
  computed: {
    Views() {
      return this.Arr[this.index];
    },
  },
};
</script>

<style lang="scss" scoped>
li {
  list-style: none;
}
.host {
  background: #f7f7fa;
  padding: 0.28rem 0 0 0.24rem;
  overflow: hidden;
  h1 {
    font-size: 0.14rem;
    font-weight: 700;
    text-align: left;
  }
  .host-ban {
    margin-top: 0.22rem;
    margin-bottom: 0.32rem;
    ul {
      display: flex;
      overflow-y: auto;

      li {
        width: 1.68rem;
        height: 2.22rem;
        display: flex;
        flex-direction: column;
        margin-right: 0.26rem;
        .host-ban-top {
          width: 1.68rem;
          height: 1.46rem;
          background: #fff;
          position: relative;
          border-radius: 0.3rem 0.3rem 0 0;
          img {
            position: absolute;
            width: 1.29rem;
            height: 1.56rem;
            left: 50%;
            transform: translateX(-50%);
            top: -0.09rem;
          }
        }
        .host-ban-bottom {
          width: 1.68rem;
          height: 0.76rem;
          background: #fff;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding-left: 0.18rem;
          border-radius: 0 0 0.3rem 0.3rem;
          p {
            flex: 1;
            font-size: 0.12rem;
            font-weight: 700;
            display: flex;
            align-items: center;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          span {
            flex: 1;
            font-size: 0.16rem;
            font-weight: 700;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    ul::-webkit-scrollbar {
      display: none;
    }
  }
  .host-list {
    .host-list-top {
      height: 0.44rem;
      display: flex;
      overflow-y: auto;
      ul {
        display: flex;
        .list {
          width: 0.6rem;
          height: 0.44rem;
          border-radius: 0.2rem;
          background: #ffdf75;
        }
        li {
          width: 0.99rem;
          height: 0.44rem;
          margin-right: 0.2rem;
          display: flex;
          justify-content: center;
          font-size: 0.14rem;
          line-height: 0.44rem;
          font-weight: 700;
          background: #fff;
          border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
        }
      }
    }
    .host-list-top::-webkit-scrollbar {
      display: none;
    }
    .host-list-bottom {
      ul {
      }
    }
  }
}
</style>
