<template>
  <div>
    <li class="list-item" v-for="item in list" :key="item._id">
      <div class="list-left">
        <img :src="item.image" />
      </div>
      <div class="middle">
        <p class="name">{{ item.name }}</p>
        <p></p>
        <p class="price">¥{{ item.price }}</p>
      </div>
      <div class="jia">
        <img src="@/assets/cart.png" alt="" />
      </div>
    </li>
  </div>
</template>

<script>
export default {
  props: ["list"],
};
</script>

<style lang="scss" scoped>
.list-item {
  display: flex;
  border-radius: 20px;
  align-items: stretch;
  position: relative;
  .list-left {
    padding-right: 0.17rem;
    img {
      width: 0.68rem;
      height: 0.68rem;
      border-radius: 20px;
      background: #fff;
    }
  }
  .middle {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    .name {
      font-size: 0.12rem;
      font-weight: 700;
      color: rgba(26, 26, 26, 1);
      margin-top: 0.1rem;
      width: 1.87rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .price {
      font-size: 0.16rem;
      font-weight: 700;
      color: rgba(26, 26, 26, 1);
      margin-bottom: 0.15rem;
    }
  }
  .jia {
    position: absolute;
    right: 0.22rem;
    top: 50%;
    transform: translateY(-50%);
    background: #ffdf75;
    width: 0.48rem;
    height: 0.48rem;
    font-size: 0.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 0.18rem;
      height: 0.18rem;
    }
  }
}
</style>
