<template>
  <div class="loading" @touchmove.stop.prevent="() => {}">
    <div class="round"></div>
  </div>
</template>
<script lang="ts"></script>
<style lang="scss" scoped>
.loading {
  position: fixed;
  background: #cccccc;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  .round {
    width: 100px;
    height: 100px;
    border: 6px solid;
    border-radius: 50%;
    border-color: #fff transparent #fff transparent;
    animation: loading 1s linear infinite;
  }
  @keyframes loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
</style>
